*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* utility classes */
body{
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 1200px;
  margin: 0 auto;
  color: #33475b;
}

.container div a{
  text-decoration: none;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.button{
  border-radius: 5px;
  color: #fff;
}

.button-type-a{
  border: 1px solid #fe775a;
  padding: 10px;
}

.button-type-b{
  background: #fe775a;
  padding: 12px 10px;
}

.button-type-c{
  background: #fe775a;
  padding: 20px 40px;
}

.big-container{
  width: 100%;
  min-width: 1200px;
}

.white-box{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #eee;
}

.column{
  padding: 20px 40px;
  width: 350px;
  text-align: center;
}

.box{
  width: 25%;
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

.border-r{
  border-right: 1px solid #fff;
}

.border-b{
  border-bottom: 1px solid #fff;
}

.margin-b-20{
  margin-bottom: 20px;
}

.footer-column{
  width: 25%;
  color: #fff;
}
/* /utility classes */

/* header */
.header-top{
  background: #f4f9fd;
  border-bottom: 1px solid #70808d;
}

.header-bottom{
  background: #fff;
}

header .container div{
  display: inline-block;
  padding: 15px 0;
}

header .container div a{
  color: #33475b;
}

.header-bottom div a{
  padding-left: 20px;
}

.search i{
  color: #007bff;
}

header img{
  padding-top: 10px;
}

#lang{
  padding-right: 20px;
}

#contacts{
  border-left: 1px solid #33475b;
  padding-left: 20px;
}

#login{
  color: #fe775a;
  margin: 0 20px;
}

#gethub{
  color: #fff;
}
/* /header */

/* main */
.jumbotron-container{
  background: #fff4ef;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 695px;
  position: relative;
}

.jumbotron-container:before{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background: #afebe4;
  height: 80px;
  width: 100%;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}

.jumbotron-content{
  width: 600px;
  padding-top: 70px;
}

.jumbotron-content h1{
  font-size: 50px;
}

.jumbotron-content p{
  margin: 40px 0;
}

.grey-container{
  background: #f4f9fd;
  padding-bottom: 50px;
}

.slogan{
  text-align: center;
  padding: 50px 200px;
}

.slogan h3{
  font-size: 30px;
  margin-bottom: 20px;
}

.horizontal-box{
  padding: 30px 0;
}

.horizontal-box .fl{
  width: 40%;
  padding: 40px 20px;
  text-align: center;
}

.horizontal-box .fr{
  width: 60%;
  padding: 20px 200px 40px 20px;
}

.horizontal-box .fl img{
  margin-bottom: 20px;
}

.horizontal-box .fr h4{
  font-size: 22px;
  margin-bottom: 20px;
}

.horizontal-box .fr h5, .horizontal-box .fr p{
  margin-bottom: 20px;
}

.horizontal-box .fr h5{
  margin-top: 20px;
  width: 100%;
  font-size: 19px;
  line-height: 20px;
}

.horizontal-box .fr h5:before {
  content: '';
  display: block;
  float: right;
  width: 55%;
  height: 2px;
  margin-top: 9px;
  background-color: #899397;
}

.horizontal-box .fr img{
  vertical-align: top;
}

.columns-container{
  padding-top: 80px;
}

.second-column{
  margin: 0 75px;
}

.column h4{
  font-size: 20px;
}

.column h5{
  font-size: 17px;
  padding: 15px 0;
}

.column p{
  margin-bottom: 40px;
}

.popolar-feature{
  text-align: left;
}

.column img{
  vertical-align: top;
}

.learn{
  padding: 40px 0 15px 0;
  text-align: center;
}

.gradient-container{
  background: linear-gradient(45deg, #00a4bc, #00bca5);
  padding: 60px 0 120px 0;
}

.gradient-container .container:first-child{
  text-align: center;
  padding-bottom: 60px;
  color: #fff;
}

.gradient-container .container:first-child h3{
  padding: 0 100px 40px 100px;
  font-size: 30px;
}

.box img, .box h2{
  margin-bottom: 18px;
}

.box h2{
  font-size: 50px;
}

.box h2::after{
  content: " +";
  font-size: 0.5em;
  vertical-align: 25%;
  font-weight: lighter;
}

.white-container{
  background-color: #fff;
  padding: 50px 0;
}

.white-container .container:first-child .fl{
  width: 35%;
  padding: 20px 0 0 60px;
}

.white-container .container:first-child .fl h2{
  font-size: 50px;
  padding-left: 10px;
  padding-bottom: 30px;
}

.white-container .container:first-child .fr{
  width: 65%;
  padding-top: 20px;
}

.white-container .container:first-child .fr img{
  width: 160px;
  margin-bottom: 30px;
  padding-left: 20px;
  vertical-align: middle;
}

.white-container .container:last-child{
  margin-top: 50px;
}

.white-container .container:last-child .fl{
  width: 500px;
  margin-top: 70px;
}

.white-container .container:last-child h3{
  font-size: 33px;
}

.white-container .container:last-child h3{
  padding-bottom: 50px;
}

.white-container .container:last-child p{
  padding-bottom: 60px;
}

.white-container .container:last-child .fl div{
  padding-top: 30px;
}

.white-container .container:last-child .fl div{
  margin-top: 30px;
}

.white-container .container:last-child img{
  height: 350px;
  margin-right: 50px;
}
/* /main */

/* footer */
footer .big-container{
  background: #33475b;
  padding: 50px 0;
}

footer .footer-column div{
  margin-bottom: 15px;
}

footer div a{
  color: #dadee0;
}

footer h3{
  margin-bottom: 30px;
}

footer .button{
  background: #dadee0;
  color: #33475b;
}

.footer-button{
  margin-top: 40px;
}

footer i{
  margin-top: 15px;
  padding: 0 10px;
  text-align: center;
  color: #dadee0;
}

footer .container:nth-child(2){
  border-bottom: 2px solid #fff;
  margin-top: 50px;
  text-align: center;
}

.language{
  display: inline-block;
  padding: 0 2px 15px 2px;
}

footer .container:last-child{
  padding-top: 50px;
}

footer .container:last-child img{
  height: 60px;
  margin-top: -20px;
}

footer .container:last-child .fl a{
  padding-left: 0;
}

footer .fr a{
  padding-left: 20px;
}
/* /footer */
