*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* utility classes */

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 1200px;
  margin: 0 auto;
  color: #152238;
}

.container div a{
  text-decoration: none;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.button{
  border-radius: 5px;
  padding: 10px 15px;
}

.button-type-a{
  border: 1px solid #dd571c;
}

.button-type-b{
  background: #dd571c;
  color: #fff;
}

.big-container{
  width: 100%;
}

.white-box{
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px #656565;
}

.column{
  padding: 20px 40px;
  width: 350px;
  text-align: center;
}

.box{
  width: 25%;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

.footer-column{
  width: 25%;
  color: #fff;
}
/* /utility classes */

/* header */

.header-top{
  width: 100%;
  background: #d6dbe0;
  border-bottom: 2px solid #152238;
}

.header-bottom{
  width: 100%;
  background: #fff;
}

header .container div{
  display: inline-block;
  padding: 15px 0;
}

header .container div a{
  color: #152238;
}

#lang{
  padding-right: 20px;
}

#contacts{
  border-left: 2px solid #152238;
  padding-left: 20px;
}

#login{
  color: #dd571c;
}

#gethub{
  color: #fff;
}

.header-bottom .container div a{
  padding-left: 20px;
}
/* /header */

/* main */

/* jumbotron */
.jumbotron-container{
  background: #fff4ef;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 695px;
  position: relative;
}

.jumbotron-container:before{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background: #afebe4;
  height: 80px;
  width: 100%;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}

.jumbotron-content{
  color: #152238;
  width: 500px;
  padding-top: 50px;
}

.jumbotron-content p{
  margin: 20px 0;
}
/* jumbotron */

.space{
  height: 100px;
  background: #b9f9e5;
  border-bottom: 2px solid #152238;
}

.grey-container{
  background: #d6dbe0;
  padding-bottom: 40px;
}

/* slogan */
.slogan{
  text-align: center;
  padding: 40px 200px;
  color: #152238;
}

.slogan h3{
  font-size: 25px;
  margin-bottom: 20px;
}
/* /slogan */
.freehubspot{
  padding: 30px 0;
}

.freehubspot .fl{
  width: 30%;
  padding: 30px 20px;
  text-align: center;
  margin-left: 50px;
}

.freehubspot .fl img{
  margin-bottom: 20px;
}

.freehubspot .fr{
  width: 60%;
  padding: 10px 20px;
  padding-right: 200px;
}

.freehubspot .fr h4{
  font-size: 18px;
  margin-bottom: 20px;
}

.freehubspot .fr h5, .freehubspot .fr p{
  margin-bottom: 10px;
}

.freehubspot .fr hr{

}
.freehubspot .fr img{
  vertical-align: middle;
}

.columns-container{
  padding-top: 80px;
}

.popolar-feature{
  text-align: left;
}

.second-column{
  margin: 0 75px;
}

.column img, .column h4, .column hr, .column h5{
  margin-bottom: 20px;
}

.column p{
  margin-bottom: 40px;
}

.column img{
  vertical-align: top;
}

.gradient-container{
  background-color: lightblue;
  padding: 60px 0;
}

.gradient-container .container:first-child{
  text-align: center;
  padding-bottom: 60px;
  color: #fff;
}

.box:first-child, .box:nth-child(5){
  border-left: none;
}

.box:nth-child(5), .box:nth-child(6), .box:nth-child(7), .box:nth-child(8){
  border-bottom: none;
}

.box img{
  margin-bottom: 20px;
}

.white-container{
  background-color: #fff;
  padding: 50px 0;
}

.white-container .container:first-child .fl{
  width: 300px;
  padding: 0 40px;
  margin-left: 100px;
}

.white-container .container:first-child .fl h2{
  font-size: 40px;
  padding-left: 10px;
  padding-bottom: 30px;
}

.white-container .container:first-child .fr{
  margin-right: 100px;
}

.white-container .container:first-child .fr img{
  height: 30px;
}

.white-container .container:last-child{
  margin-top: 50px;
}

.white-container .container:last-child .fl{
  width: 450px;
  margin-top: 70px;
}

.white-container .container:last-child img{
  height: 350px;
  margin-right: 50px;
}

.white-container .container:last-child h3, .white-container .container:last-child p{
  margin-bottom: 30px;
}

.white-container .container:last-child .fl div{
  margin-top: 30px;
}
/* /main */

/* footer */
footer .big-container{
  background: #152238;
  padding: 50px 0;
}

footer .footer-column div{
  margin-bottom: 15px;
}

footer div a{
  color: #fff;
}

footer h3{
  margin-bottom: 30px;
}

footer .container:nth-child(2){
  border-bottom: 2px solid #fff;
  margin-top: 50px;
  text-align: center;
}

.language{
  display: inline-block;
  padding: 0 20px 15px 20px;
}

footer .container:last-child{
  padding-top: 50px;
}

footer .fr a{
  padding-left: 20px;
}

footer i{
  margin-top: 15px;
  padding: 0 10px;
  text-align: center;
}

/* /footer */
